ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}


ul.topnav li a:hover {background-color: #555;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 21px;
}

ul.topnav li.icon {display: none;}


body {
    background-color: white;
    text-align: left
}

header {
    background-image: url("../../IMG/Akihabara01.jpg");
    height: 100px;
    position: relative;
    padding-top: 5
}

.header {
    color: white;
    text-align: center
}

i {
    color: black;
    text-align: right;
    
}

h2 {
    background-color: black;
    
}
.h3 {
    
    text-align: right;
}

.hcolor {
    color: white
}

img {
    
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

img2 {
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 5px;
}

.textcolor {
    color: white;
    background-color: 000000;
    border: 3px solid black;
    height: 200px;
    width: 900px;
    margin-right: 5px;
}



.contactMe {
    float: right;
    color: white;
    background-color: black
    
}

.gallery {
    border: 2px solid black;
    width: 300px;
    height: 300px;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

form {
    margin:0 auto;
    width:459px;
}

input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	background-color: #efefef;
}

header1 {
    background-color: black
    height: 50px;
    position: relative;
}

footer {
    background-color: black;
    height: 50px;
    
}

.footer {
    color: white;
    text-align: center
}

.contact {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 21px;
}

.portfolio {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 21px;
}

.index {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 21px;
}

@media (max-width: 800px) {
  body {
    background-color: lightgrey;
  }