/* navigation bar */
ul {
    list-style-type: none;
        margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    
    
}
/* fixed navigation bar */
ul {
     position: ;
    top: 0;
    width: 100%;
}
.navItems {
    display: block;
    color: white;
    text-align: center;
    display: inline;
    float: left;
    padding:11px;
    text-decoration: none;
    
    
}

.sIcons {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
            
}

li a:hover {
    background-color: #111;
}


.footer {
    color: white;
    position: fixed;
    text-align: center
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}